body {
	color: #000;
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
}

#header-nav {
	background-color: #777;
	border-radius: 0;
	border: 0;
}

.navbar-brand h1 {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.5;
}

.navbar-brand a {
	color: #000;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -42px;
}

.visible-xs {
	background-color: #fff;
}

.navbar-nav {
	margin: 0 -15px;
}

#nav-list li {
	border-bottom: 1px solid #000 ;
}

#nav-list li>a {
	color: #000;
}

#text {
	background-color: #ff3;
	padding: 15px 30px;
}