* {
  box-sizing: border-box;
}

h1 {
	font-size: 1.75em;
	text-align: center;
}

h3 {
	border: 1px solid black;
	border-right: none;
	border-top: none;
	font-size: 1.25em;
	margin: 0;
	padding: 5px 25px;
	display: inline-block;
	position: relative;
	float: right;
	top: 0;
	right: -20px;
}

.container {
	float: left;
	background-color: #aaa;
	border: 1px solid black;
	padding-left: 20px;
	padding-right: 20px;
}

.container p {
	padding-top: 30px;
}

.chicken h3 {
	background-color: #a55;
}

.beef h3 {
	background-color: #5a5;
}

.sushi h3 {
	background-color: #55a;
}


@media (max-width: 767px) {
	.container {
  		width: 95%;
  		margin: 15px 2.5%;
  	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.container {
    	width: 45%;
    	margin: 15px 2.5%;
  	}

  	.sushi {
  		width: 95%;
  		margin: 15px 2.5%;
  	}
}

@media (min-width: 992px) {
	.container {
    	width: 28.33%;
    	margin: 15px 2.5%;
	}
}